<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Meoknow Backend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin_index') }}">喵懂 - Meoknow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if session['verified'] %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
              <a
                class="nav-link {{ 'active' if active_page == 'cat'}}"
                href="{{ url_for('admin_cat') }}"
              >猫咪管理</a>
            </li>
            <li class="nav-item mx-2">
              <a
                class="nav-link {{ 'active' if active_page == 'comment'}}"
                href="{{ url_for('admin_comment') }}"
              >评论管理</a>
            </li>
          </ul>
          <form class="d-flex">
            <button id="logout" class="btn btn-outline-danger" type="button">退出登录</button>
          </form>
        </div>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    {% block jsscript %}
    {% endblock %}
    <script>
      $("#logout").click(() => {
        $.post('{{ url_for("admin_logout_api") }}').success(() => {
          location.reload();
        })
      })
    </script>
  </body>
</html>