{% set active_page = 'comment' %}
{% extends "base.html" %}
{% block title %}
评论管理
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 mt-5">
        <div class="row">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a id="all_link" class="nav-link" onclick="render_all()">所有评论</a>
                </li>
                <li class="nav-item">
                    <a id="cat_link" class="nav-link" onclick="render_cat()">指定猫咪评论</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="col-md-9 col-12 mt-5">
        <div class="row" id="main">

        </div>
    </div>
    <nav id="navbar" class="mt-5">
    </nav>
</div>
{% endblock %}
{% block jsscript %}
<script>
    var cache = {};
    var cat_info = [], cat_id;
    function feedback_success(msg) {
        alert(msg);
    }
    function feedback_warning(msg) {
        alert(msg);
    }
    function parse_url(url) {
        return "//" + url;
    }
    function render_cat_page(page) {
        admin_get_comments_by_cat_api(cat_id, page).then(resp => {
            var page_cnt = resp.maxpage;
            var comments = resp.resp;
            var main = $("#cat-main");
            $(main).empty();
            for (var i = 0; i < comments.length; i++) {
                var comment = render_comment(comments[i]);
                $(main).append(comment);
            }
            render_navbar_master(page_cnt, page, (newpage) => {
                render_all_page(newpage)
            });
        }).catch(e => {
            console.error(e);
            feedback_warning("渲染节点失败");
        })
    }
    function switch_cat(idx) {
        cat_id = cat_info[idx].cat_id;
        $(".cat").each(function() {
            if ($(this).attr("idx") == idx) {
                $(this).addClass("selected-cat");
            } else {
                $(this).removeClass("selected-cat");
            }
        });
        render_cat_page(1);
    }
    function render_cat_list(cats) {
        cat_info = cats;
        $("#cat_container").empty();
        for (var i = 0; i < cats.length; i++) {
            var root = $("<div></div>").css("cursor", "pointer").addClass("row my-2 py-1 cat").attr("idx", i);
            var img = $("<div></div>").addClass("col-4").append(
                $("<img></img>")
                    .addClass("img-fluid noselect")
                    .attr("src", parse_url(cats[i].img_url))
            );
            var name = $("<div></div>").addClass("col-8").append(
                $("<p></p>").addClass("noselect").text(cats[i].name)
            );
            root.append(img).append(name);
            $(root).click(function() {
                switch_cat($(this).attr("idx"));
            });
            $("#cat_container").append(root);
        }
    }
    function render_navbar_master(maxpage, curpage, callback) {
        function render_navbar(maxpage, curpage, onclick) {
            if (maxpage == 0) {
                $("#navbar").empty();
                return;
            }
            var ul = $("<ul></ul>").addClass("pagination justify-content-center");
            for (var i = 0; i <= maxpage + 1; i++) {
                var content = i.toString(), idx = i, enable, iscurrent;
                iscurrent = i == curpage;
                if (i == 0) content = "prev", idx = curpage - 1;
                if (i == maxpage + 1) content = "next", idx = curpage + 1;
                enable = 1 <= idx && idx <= maxpage;
                var li = $("<li></li>").addClass("page-item");
                if (iscurrent) li.addClass("active");
                if (!enable) li.addClass("disabled");
                var a = $("<a></a>")
                    .addClass("page-link")
                    .attr("href", "#")
                    .attr("idx", idx)
                    .text(content)
                    .click(function() {
                        onclick(parseInt($(this).attr("idx")));
                    });
                $(li).append(a);
                $(ul).append(li);
            }
            $("#navbar").empty();
            $("#navbar").append(ul);
        }
        function onclick(idx) {
            callback(idx);
            render_navbar(maxpage, idx, onclick);
        }
        render_navbar(maxpage, curpage, onclick);
    }
    function rerender_by_commentid(comment_id) {
        admin_get_comment_api(comment_id).then(data => {
            var comment = data.comment;
            var node = render_comment(comment);
            $(".comment-root").each(function(idx, ele) {
                if (parseInt($(ele).attr("comment_id")) == comment_id) {
                    $(ele).empty();
                    $(ele).append(node.children()[0]);
                }
            });
        }).catch(e => {
            console.error(e);
            feedback_warning("渲染节点失败");
        });
    }
    function render_comment(comment) {
        cache[comment.comment_id] = comment;
        var root = $("<div></div>")
            .addClass("col-12 my-2 py-1 border comment-root")
            .attr("comment_id", comment.comment_id);
        var container = $("<div></div>").addClass("row");
        var avatar_div = $("<div></div>").addClass("col-md-1 col-2");
        var content_div = $("<div></div>").addClass("col-md-11 col-9");
        var nickname_p = $("<p></p>").text("@" + comment.nickname).css("color", "orange");
        var deleted = $("<span></span>").addClass("mx-2 badge bg-danger").text("已隐藏");
        var img_div = $("<div></div>").height("100px")
            .css("overflow-y", "scroll");
        for (var i = 0; i < comment.images.length; i++) {
            var img = $("<img></img>")
                .attr("src", comment.images[i])
                .css("height", "100%").addClass("mx-1")
            $(img_div).append(img);
        }
        var content_p = $("<p></p>").text(comment.content);
        var img = $("<img></img>")
            .addClass("rounded-circle")
            .attr("src", comment.avatar)
            .css("width", "100%");
        var create_time = $("<span></span>").addClass("mx-1 badge bg-primary").text(comment.create_time);
        var like_cnt = $("<span></span>").addClass("mx-1 badge bg-warning").text(
            "点赞数量: " + comment.like
        );
        var button = $("<button></button>")
            .addClass("btn btn-outline-danger delete-button")
            .attr("type", "button")
            .attr("comment_id", comment.comment_id)
            .click(async function() {
                var comment_id = parseInt($(this).attr("comment_id"));
                try {
                    if ($(this).text() == "恢复") {
                        await admin_show_comment_api(comment_id);
                    } else {
                        await admin_hide_comment_api(comment_id);
                    }
                    rerender_by_commentid(comment_id);
                } catch(e) {
                    console.error(e);
                    feedback_warning("操作失败");
                }
            })
            .text(comment.is_hidden ? "恢复" : "隐藏");
        var extra_div = $("<div></div>").addClass();
        if (comment.is_hidden)
            $(nickname_p).append(deleted);
        $(extra_div).append(create_time);
        $(extra_div).append(like_cnt);
        $(extra_div).append(button);
        $(avatar_div).append(img);
        $(content_div).append(nickname_p);
        $(content_div).append(content_p);
        if (comment.images.length)
            $(content_div).append(img_div);
        $(content_div).append(extra_div);
        $(container).append(avatar_div);
        $(container).append(content_div);
        $(root).append(container);
        return root;
    }
    function render_all_page(page) {
        admin_get_comments_api().then(resp => {
            var page_cnt = resp.maxpage;
            var comments = resp.resp;
            var main = $("#main");
            $(main).empty();
            for (var i = 0; i < comments.length; i++) {
                var comment = render_comment(comments[i]);
                $(main).append(comment);
            }
            render_navbar_master(page_cnt, page, (newpage) => {
                render_all_page(newpage)
            });
        }).catch(e => {
            console.error(e);
            feedback_warning("渲染节点失败");
        })
    }
    function render_all() {
        $("#all_link").addClass("active");
        $("#cat_link").removeClass("active");
        render_all_page(1);
    }
    function render_cat() {
        $("#cat_link").addClass("active");
        $("#all_link").removeClass("active");
        $("#main").empty();
        var left = $("<div></div>")
            .addClass("col-12 col-md-3 border")
            .append(
                $("<div></div>")
                    .addClass("text-center")
                    .css("height", "500px")
                    .css("overflow-y", "auto")
                    .css("overflow-x", "hidden")
                    .append(
                        $("<div></div>").attr("id", "cat_container")
                    )
            );
        var right = $("<div></div>")
            .addClass("col-12 col-md-9 border")
            .append(
                $("<div></div>").attr("id", "cat-main")
            );
        $("#main").append(left);
        $("#main").append(right);
        render_navbar_master(0, 0, null);
        admin_get_cats_api()
            .then(data => render_cat_list(data.resp))
            .catch(() => {
                feedback_warning("加载失败");
            })
    }
    $(() => {
        render_all();
    });
</script>
{% endblock %}