{% set active_page = 'comment' %}
{% extends "base.html" %}
{% block title %}
评论管理
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 mt-5">
        <div class="row">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a id="all_link" class="nav-link" onclick="render_all()">所有评论</a>
                </li>
                <li class="nav-item">
                    <a id="cat_link" class="nav-link" onclick="render_cat()">指定猫咪评论</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="col-md-9 col-12 mt-5">
        <div class="row" id="main">

        </div>
    </div>
    <nav id="navbar" class="mt-5">
    </nav>
</div>
{% endblock %}
{% block jsscript %}
<script>
    var cache = {};
    function render_navbar(maxpage, curpage, onclick) {
        if (maxpage == 0) {
            $("#navbar").empty();
            return;
        }
        var ul = $("<ul></ul>").addClass("pagination justify-content-center");
        for (var i = 0; i <= maxpage + 1; i++) {
            var content = i.toString(), idx = i, enable, iscurrent;
            iscurrent = i == curpage;
            if (i == 0) content = "prev", idx = curpage - 1;
            if (i == maxpage + 1) content = "next", idx = curpage + 1;
            enable = 1 <= idx && idx <= maxpage;
            var li = $("<li></li>").addClass("page-item");
            if (iscurrent) li.addClass("active");
            if (!enable) li.addClass("disabled");
            var a = $("<a></a>")
                .addClass("page-link")
                .attr("href", "#")
                .attr("idx", idx)
                .text(content)
                .click(function() {
                    onclick(parseInt($(this).attr("idx")));
                });
            $(li).append(a);
            $(ul).append(li);
        }
        $("#navbar").empty();
        $("#navbar").append(ul);
    }
    function render_navbar_master(maxpage, curpage, callback) {
        function onclick(idx) {
            callback(idx);
            render_navbar(maxpage, idx, onclick);
        }
        render_navbar(maxpage, curpage, onclick);
    }
    function api_get_comments_by_cat(page, cat_id) {
        var url = '{{ url_for("admin_get_comments_by_cat") }}?page=' + page;
        url += "&cat_id=" + cat_id;
        return new Promise((res, rej) => {
            $.ajax({
                type: "GET",
                url: url,
                success(e) {
                    if (e.code == 0) {
                        res(e.data);
                    } else {
                        rej(e.msg);
                    }
                },
                error(e) {
                    rej(e);
                }
            })
        })
    }
    function api_get_comments(page) {
        return new Promise((res, rej) => {
            $.ajax({
                type: "GET",
                url: '{{ url_for("admin_get_all_comments_api") }}?page=' + page,
                success(e) {
                    if (e.code == 0) {
                        res(e.data);
                    } else {
                        rej(e.msg);
                    }
                },
                error(e) {
                    rej(e)
                }
            })
        });
    }
    function api_get_comment(comment_id) {
        return new Promise((res, rej) => {
            $.ajax({
                type: "GET",
                url: '{{ url_for("admin_get_comment") }}?comment_id=' + comment_id,
                success(e) {
                    if (e.code == 0) {
                        res(e.data.comment);
                    } else {
                        rej(e.msg);
                    }
                },
                error(e) {
                    rej(e);
                }
            })
        });
    }
    function api_hide_comment(comment_id) {
        return new Promise((res, rej) => {
            $.ajax({
                type: "POST",
                url: '{{ url_for("admin_hide_comment_api") }}',
                data: JSON.stringify({
                    comment_id: comment_id
                }),
                success(e) {
                    if (e.code == 0) {
                        res("success");
                    } else {
                        rej(e.msg);
                    }
                },
                error(e) {
                    rej(e);
                },
                contentType : "application/json",
            });
        });
    }
    function api_show_comment(comment_id) {
        return new Promise((res, rej) => {
            $.ajax({
                type: "POST",
                url: '{{ url_for("admin_show_comment_api") }}',
                data: JSON.stringify({
                    comment_id: comment_id
                }),
                success(e) {
                    if (e.code == 0) {
                        res("success");
                    } else {
                        rej(e.msg);
                    }
                },
                error(e) {
                    rej(e);
                },
                contentType : "application/json",
            });
        });
    }
    async function rerender_by_commentid(comment_id) {
        var comment = await api_get_comment(comment_id);
        var node = render_comment(comment);
        $(".comment-root").each(function(idx, ele) {
            if (parseInt($(ele).attr("comment_id")) == comment_id) {
                $(ele).empty();
                $(ele).append(node.children()[0]);
            }
        });
    }
    function render_comment(comment) {
        cache[comment.comment_id] = comment;
        var root = $("<div></div>")
            .addClass("col-12 my-2 py-1 border comment-root")
            .attr("comment_id", comment.comment_id);
        var container = $("<div></div>").addClass("row");
        var avatar_div = $("<div></div>").addClass("col-md-1 col-2");
        var content_div = $("<div></div>").addClass("col-md-11 col-9");
        var nickname_p = $("<p></p>").text("@" + comment.nickname).css("color", "orange");
        var deleted = $("<span></span>").addClass("mx-2 badge bg-danger").text("已隐藏");
        var img_div = $("<div></div>").height("100px")
            .css("overflow-y", "scroll");
        for (var i = 0; i < comment.images.length; i++) {
            var img = $("<img></img>")
                .attr("src", comment.images[i])
                .css("height", "100%").addClass("mx-1")
            $(img_div).append(img);
        }
        var content_p = $("<p></p>").text(comment.content);
        var img = $("<img></img>")
            .addClass("rounded-circle")
            .attr("src", comment.avatar)
            .css("width", "100%");
        var create_time = $("<span></span>").addClass("mx-1 badge bg-primary").text(comment.create_time);
        var like_cnt = $("<span></span>").addClass("mx-1 badge bg-warning").text(
            "点赞数量: " + comment.like
        );
        var button = $("<button></button>")
            .addClass("btn btn-outline-danger delete-button")
            .attr("type", "button")
            .attr("comment_id", comment.comment_id)
            .click(async function() {
                var comment_id = parseInt($(this).attr("comment_id"));
                if ($(this).text() == "恢复") {
                    await api_show_comment(comment_id);
                } else {
                    await api_hide_comment(comment_id);
                }
                rerender_by_commentid(comment_id);
            })
            .text(comment.is_hidden ? "恢复" : "隐藏");
        var extra_div = $("<div></div>").addClass();
        if (comment.is_hidden)
            $(nickname_p).append(deleted);
        $(extra_div).append(create_time);
        $(extra_div).append(like_cnt);
        $(extra_div).append(button);
        $(avatar_div).append(img);
        $(content_div).append(nickname_p);
        $(content_div).append(content_p);
        if (comment.images.length)
            $(content_div).append(img_div);
        $(content_div).append(extra_div);
        $(container).append(avatar_div);
        $(container).append(content_div);
        $(root).append(container);
        return root;
    }
    async function render_all_page(page) {
        var resp = await api_get_comments(page);
        var page_cnt = resp.maxpage;
        var comments = resp.resp;
        var main = $("#main");
        $(main).empty();
        for (var i = 0; i < comments.length; i++) {
            var comment = render_comment(comments[i]);
            $(main).append(comment);
        }
        render_navbar_master(page_cnt, page, (newpage) => {
            render_all_page(newpage)
        });
    }
    async function render_all() {
        $("#all_link").addClass("active");
        $("#cat_link").removeClass("active");
        render_all_page(1);
    }
    function render_cat() {
        $("#cat_link").addClass("active");
        $("#all_link").removeClass("active");
        $("#main").text("Under Development");
        render_navbar_master(0, 0, null);
    }
    function render_specific_cat() {

    }
    $(() => {
        render_all();
    });
</script>
{% endblock %}